@import "reset"
@import "colours"
@import "sizes"
@import "circles"
@import "grid"

html, body
    height: 100%
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-family: Quicksand, sans-serif, Helvetica, sans-serif
    color: $darktext
    background-color: $darkbackground

body
    // position: relative
    // padding-bottom: $footerheight
    height: 100%
    // margin: 0

a
    text-decoration: none

a:visited
    color: inherit

#react-root
    height: 100%

.header
    background-color: $headerbackground
    height: $headerheight
    margin: 0 auto
    top: 0
    display: block
    position: relative

.navmenu
    position: absolute
    bottom: 0
    display: block
    background-color: $burgundy

.navmenu li
    display: inline
    padding-left: 5px
    padding-right: 5px

.navmenu a
    color: $lighttext

.footer
    position: absolute
    bottom: 0
    background-color: $footerbackground
    height: $footerheight
    // display: block
    right: 0
    left: 0

// .footer
//     background-color: $footerbackground
//     position: relative
//     margin-top: -$footerheight
//     height: $footerheight
//     clear: both
*, *:before, *:after
    box-sizing: inherit

.logo
    top: 0
    right: 10px
    height: $headerheight
    position: absolute

.logo .flag
    position: absolute
    margin: auto
    top: 0
    bottom: 0
    left: 0
    right: 0

.logo .text
    color: $lighttext
    display: inline

.wrap
    // min-height: 100%
    margin: 0
    padding-bottom: $footerheight
    position: relative
    min-height: 100%
    // overflow-y: auto
    // overflow: visible

.container
    // padding-bottom: $footerheight
    background-color: $darkbackground
    // position: absolute
    // margin-top: $headerheight
    width: 100%
    min-height: 100%
    // overflow: visible
    // margin: 0


.contentContainer
    background-color: $lightbackground
    right: 100px
    left: 100px
    // margin: 0 auto
    // margin-left: 100px
    // margin-right: 100px
    // margin-bottom: 0
    // margin-top: 0
    // min-width: 300px
    // top: -$headerheight
    // position: absolute
    height: 100%
    // height: 100%
    // bottom: 0
    // padding-bottom: $footerheight
    // overflow: visible

.big-button
    border-radius: 7px
    background-color: $headerbackground
    color: $darkbackground
    font-size: 3rem
    // left: 0
    // right: 0
    // width: 300px
    // top: 50%
    // position: absolute
    text-align: center

.big-button a
    color: $darkbackground
